{% extends "base.html" %}

{% block content %}

<h1>Edit post</h1>
<form method="POST" action="/post/update">
    <input type="hidden" name=id value="{{ post.id }}">
    <input type="text" name="title" placeholder="Title" id="title" value="{{ post.title }}"><br/><br/>
    <input type="text" name="content" placeholder="Content" value="{{ post.content }}"><br/><br/>
    <input type="hidden" name="status" value="unpuglished"><br/>
    <input type="checkbox" name="status" value="{status}" checked="{{ checked }}">publish<br/><br/>
    <input type="submit" name="submit">
</form>
{% endblock %}
