{% extends "base.html" %}

{% block head %}
  <title>Main Page</title>
{% endblock %}


{% block bar %}
    {% if auth %}
        <ul><li><a href="/user?id={{ current_user.id }}">My profile</a></li><li><a href="/log_out" name="log_out">Log Out</a></li></ul>
    {% else %}
        <ul><li><a href="/sign_in">Sign In</a></li><li><a href="/sign_up">Sign UP</a></li></ul>
    {% endif %}
{% endblock %}

{% block content %}
    <table id="posts">
      {% for post in posts %}
        {% if post.is_published %}
            <tr id="post_{{ post.id }}">
                <td class="id" style="display:none;"></td>
                <td class="title">
                    <a href="/post?id={{ post.id }}">{{ post.title }}</a>
                </td>
                <td class="author">{{ post.author_id }}</td>
                <td class="content">{{ post.content }}</td>
            </tr>
        {% endif %}
      {% endfor %}
    </table>

{% endblock %}
