{% extends "base.html" %}

{% block content %}
    <h1>Create post</h1>
    <form method="POST" action="/post/create" enctype="multipart/form-data">
	    <input type="text" name="title" placeholder="Title">
	    <input type="text" name="content" placeholder="Content">
        <input type="hidden" name="status" value="unpublished" />
        <input type="checkbox" name="status" value="published">publish
	    <input type="submit" name="submit">
    </form>
{% endblock %}
