{% extends "base.html" %}


{% block head %}
      <title>Post #{{ post.id }}</title>
       Post <a href="post/edit?id={{ post.id }}"> #{{ post.id }}</a>
{% endblock %}


{% block content %}
<h3>Title</h3>
    {{ post.title }}

<h4>Content:</h4>
<br/><i>{{ post.content }}</i><br/>
{% endblock %}
