{% extends "base.html" %}

{% block content %}
    You have already created post<p>
    <h3>Title</h3>
    <b>{{ post.title }}</b>
    <h4>Content</h4>
    <div>
        <i>{{ post.content }}</i>
    </div>
{% endblock %}
