{% extends "base.html" %}


{% block content %}
<h1>SIGN IN</h1>

<form action='/login' method='POST' id='login'>
    <input type="text" name="login" placeholder="Login">
    <input type="text" name="password" placeholder="Password">
    <input type="submit" name="submit">
</form>

{% endblock %}


