{% extends "base.html" %}

{% block content %}

<h1>SIGN UP</h1>
<form action="user/create" method="POST">
    <input type="text" name="login" placeholder="Login">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="password" placeholder="Password">
    <input type="text" name="first_name" placeholder="First Name">
    <input type="text" name="last_name" placeholder="Last Name">
    <input type="submit" name="submit" value="submit">
</form>
{% endblock %}
