 {%   extends "../index.html" %}

{% block head %} AAA
    <p>This is a block HEAD that is in file one.html </p>
{% endblock %}

{% block content %}
    <dir>This is level_one.html file!</dir>
{% endblock %}BBB

{% block one %}
This is  a new block defined in file one.html
{% endblock %}
