 {%   extends "../index.html" %}

{% block head %}
    <p>This is a block HEAD that is in file one.html </p>
      {% if last.variable  %}
        <ul>
        {% for y in y_list %}
        <li> {{    y }} </li>
        {% endfor  %}
        </ul>
      {%  endif %}
{% endblock %}

{% block content %}
{%   for x in     x_list %}
  <div>
    {% if x == 2 %}
      <h1>{{ x   }}</h1>
    {% else %}
        {% if temp %}
          <h3>{{ temp }}</h3>
        {% endif %}
    {% endif %}
  </div>
  {{ x }}

  {% if hello %}{% endif %}

  {% if 4 in some_list %}
     Don't print it!
  {% endif %}

  {% for t in ttt  %}{% if t %}play{% endif %}{% endfor %}

  {% for z in z_list %}
      {{ z.last.variable }}

      {{ itiscorrect }}
  {% endfor %}

  {% if 3 == 4 %}{% endif %}

{% endfor %}


  {% if   not 4 in four_list %}
        <h4>This is the end</h4>
  {% endif %}

{% endblock %}BBB

{% block one %}
    This is  a new block defined in file one.html
{% endblock %}
