{% extends "../base.html" %}


{% block head %}
  <h2>All users registered in the system</h2>
{% endblock %}

{% block content %}
  <table>
    <th>Login</th><th>Email</th><th>First name</th><th>Last name</th>
    {% for user in users %}
      <tr>
        <td>{{ user.login }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
      </tr>
    {% endfor %}
 </table>
{% endblock %}
