{% extends "../base.html" %}


{% block head %}
  <h2>Hello, {{ user.login }}!</h2>
  Your email is {{ user.email }}
  Your first name is {{ user.first_name }}
  Your last name is {{ user.last_name }}
{% endblock %}

{% block content %}
  <h3>This is all your posts</h3>

  <table>
    <th>id</th><th>Title</th><th>Content</th><th>Status</th><th></th>
    {% for post in posts %}
      <tr id="post_{{ post.id }}">
        <td><a href="/post/edit?id={{ post.id }}">{{ post.id }}</a></td>
        <td>{{ post.title }}</td>
        <td>{{ post.content }}</td>
        <td>{{ post.status }}</td>
        <td>
            <form method="POST" action="/post/delete">
                <input type="hidden" name="id" value="{{ post.id }}"/>
                <input type="submit" class="button" value="Delete" name="Delete">
            </form>
        </td>
        <td>
            {% if post.is_published %}Published{% else %}Not published{% endif %}
        </td>
        </tr>
    {% endfor %}
 </table>
{% endblock %}

