<hmtl>
<head>
    This is the head of base.html
    {% block head %}
    {% endblock %}
</head>
<body>

    <dir>This is the body of base.html</dir>
    {% block content %}
    {% endblock %}

    {% block attention %}
    {% endblock %}

    {% block index_block %}
    {% endblock %}

    {% block some %}
    {% endblock %}


</body>
</html>
