{% extends "base.html" %}

{% block head %}
   <dir> This is block head inside index file</dir>
{% endblock %}

{% block content %}
  <dir> This is file index and block content </dir>
{% endblock %}

{% block index_block %}
    <i>This is block inside index file and index_block</i>
{% endblock %}
