{%   for x in     x_list %}
  <div>
    {% if x == 2 %}
      <h1>{{ x   }}</h1>
    {% else %}
        {% if temp %}
          <h3>{{ temp }}</h3>
        {% endif %}
    {% endif %}
  </div>
  {{ x }}

  {% if hello %}{% endif %}

  {% if 4 in some_list %}
     Don't print it!
  {% endif %}

  {% for t in ttt  %}{% if t %}play{% endif %}{% endfor %}

  {% if last.variable  %}
    <ul>
    {% for y in y_list %}
    <li> {{    y }} </li>
    {% endfor  %}
    </ul>
  {%  endif %}

  {% for z in z_list %}
      {{ z.incorrect.point. }}
      {{ z.last.variable }}
      {{ not correct }}
      {{ not correct too }}
      {{ .not.cor.r.ect. }}
      {{ not . correct }}
      {{ not. }}
      {{ itiscorrect }}
      {{ not.... }}
      {{ .dont }}
      {{ ..nonono }}
  {% endfor %}

  {% if 3 == 4 %}{% endif %}

{% endfor %}


  {% if   not 4 in four_list %}
        <h4>This is the end</h4>
  {% endif %}
